*{padding: 0;
margin: 0;}

:root{--color-1: #0f1016;
    --text-color:#f0f0f0;
    --accent-color: #006aff;}
    
    html{
      height: 100dvh;
      font-size: 15px;
      font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    body{background-color: aliceblue;}

    nav{height: 60px;
        background-color: var(--color-1);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        }
        
        .links-container{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        }
        
        nav a{
          height: 100%;
          padding: 0 20px;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--text-color);
        }
        
        nav a:hover{background-color: var(--accent-color);}
        
        
        nav svg{fill: var(--text-color);}
        
        #sidebar-active{display: none;}
        
        
        
        .open-sidebar-button, .close-sidebar-button{
         
          display: none;}
        
          @media(max-width: 450px){
            .links-container{
              
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
        
              position: fixed;
              top: 0;
              right:-100%;
              z-index: 10;
              width: 300px;
        
              background-color: var(--color-1);
              box-shadow:  -5px 0 5px rgba(0, 0, 0, 0.25);
              transition: 0.75s ease-out;
            }
            nav a{
              box-sizing: border-box;
              height: auto;
              width: 100%;
              padding: 20px 30px;
              justify-content: flex-start;
            }
            
            .open-sidebar-button, .close-sidebar-button{
              padding: 20px;
              display: block;}
            
            #sidebar-active:checked ~ .links-container{
              right: 0;
            }
            #sidebar-active:checked ~ #overlay{
          
              height: 100%;
              width:100%;
              position: fixed;
              top: 0;
              left: 0;
              z-index: 9;
            }
          }

          



          .wrapper{
            display: grid;
            grid-template-areas:"nav nav nav"
            "main main main" ;
            text-align: center;
            grid-template-columns: repeat(2, 1fr);
          }

          .box1{grid-area: nav;}

          .box2{grid-area: main;}

          h1{
          font-size: 50px;
          padding: 20px;
          margin: 30px 0;}

         span{color: #fff724;}


         /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapper{display: grid;
      grid-template-areas:
      "nav nav nav  "
      "main main main";

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wrapper{display:grid;
      grid-template-areas:
      "nav nav nav"
      "main main main";
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wrapper{
      display:grid;
      grid-template-areas:
      "nav nav nav"
      "main main main";
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrapper{
      display:grid;
      grid-template-areas:
      "nav nav nav"
      "main main main";
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapper{
   display:grid;
   grid-template-areas:
   "nav nav nav"
   "main main main";
  }
}